*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Intra";
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  font-weight: 100 900;
  font-style: oblique 0deg 12deg;
}

:root {
  --clr-primary: hsl(35, 77%, 62%);
  --clr-primary-dark: hsl(5, 85%, 63%);

  --clr-neutral-light: hsl(36, 100%, 99%);
  --clr-neutral: hsl(233, 8%, 79%);
  --clr-neutral-dark: hsl(236, 13%, 42%);
  --clr-neutral-darker: hsl(240, 100%, 5%);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-neutral-light);
}

body {
  font-family: "Intra", sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-light);
  cursor: pointer;
  display: block;
}

p {
  font-size: 0.98rem;
  font-weight: 400;
  line-height: 1.7;
  margin: 0.6em 0;
  color: var(--clr-neutral-dark);
}

h1 {
  margin: 1.1rem 0;
  font-size: 3.4rem;
  font-weight: 800;
  color: var(--clr-neutral-darker);
  line-height: 1;
}

h2 {
  margin: 0.5em 0;
  font-size: 2rem;
}

h3 {
  margin: 0.5em 0;
  font-size: 1.3rem;
  font-weight: 800;
}

.btn {
  display: block;
  color: var(--clr-neutral-light);
  max-width: 13rem;
  background-color: var(--clr-primary-dark);
  font-variant-caps: all-petite-caps;
  padding: 0.8em 2.3em;
  font-size: 1.1rem;
  letter-spacing: 3px;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--clr-neutral-darker);
}

.image-wrapper {
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

section,
aside {
  margin: 0 1.2rem;
}


.navbar {
  display: flex;
  justify-content: end;
  max-width: 75%;
  margin: 4rem auto 2rem;
  padding-left: 1.2rem;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-basis: 45%;
  justify-content: space-between;
}

.nav-logo {
  margin-right: auto;
}

.menu-icon,
.menu-close-icon {
  display: none;
}


.navbar .nav-link {
  color: var(--clr-neutral-dark);
  padding: 0.8rem;
  padding-right: 0;
  font-size: 1.1rem;
}


.navbar .nav-link:hover {
  color: var(--clr-primary-dark);
}


@media (max-width: 550px) {
  .navbar {
    padding: 1.4rem;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1.2rem auto;
  }

  .nav-items {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    height: 100%;
    min-height: 100vh;
    z-index: 10;
    background-color: var(--clr-neutral-light);
    width: 70%;
    right: 0;
    top: 0;
    padding-top: 10rem;
    box-shadow:
      -10px 0 200px var(--clr-neutral-darker)
  }

  .toggle-off {
    display: none !important;
  }

  .menu-icon,
  .menu-close-icon {
    display: block;
    cursor: pointer;
  }

  .menu-close-icon {
    z-index: 10;
    position: fixed;
    right: 0;
    top: 0;
    padding: 1.5rem;
    cursor: pointer;
  }
}

#feeds {
  background-color: var(--clr-neutral-darker);
  padding: 1.5rem;
  margin-top: 4rem;
}

#feeds h2 {
  color: var(--clr-primary);
}

#feeds p {
  color: var(--clr-neutral);
}

.feed .link:hover {
  color: var(--clr-primary);
}

#feeds .feed {
  border-bottom: 1px solid var(--clr-neutral);
  padding: 1.3em 0;
}

#feeds .feed:last-child {
  border-bottom: none;
}

@media (min-width: 800px) {
  #main {
    display: flex;
    width: 75%;
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;
  }

  #hero {
    flex-basis: 65%;
  }

  #hero .ctn {
    display: flex;
    margin-top: 1.6rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    gap: 5%;
  }

  #hero .ctn .summery {
    flex-basis: 55%;
    display: flex;
    flex-flow: column;
  }

  .btn {
    margin-top: auto;
  }

  #hero .ctn h1 {
    margin: 0;
    flex-basis: 40%;
  }

  #feeds {
    margin: 0;
    flex-basis: 35%;
  }

}

#featured_articals {
  margin-top: 4rem;
}

#featured_articals article {
  display: flex;
  gap: 5%;
  align-items: center;
  margin: 1.3rem 0;
  flex-basis: 30%;
}

#featured_articals .image-wrapper {
  flex-basis: 30%;
  max-width: 115px;
  max-height: 150px;
}

#featured_articals .ctn {
  flex-basis: 65%;
}

#featured_articals h2 {
  margin: 0;
  color: var(--clr-neutral);
}

#featured_articals .link {
  color: var(--clr-neutral-darker);
}

#featured_articals .link:hover {
  color: var(--clr-primary-dark);
}

@media (min-width: 800px) {
  #featured_articals {
    width: 75%;
    margin: 2rem auto 0;
    display: flex;
    padding: 1.3rem;
    padding-right: 0;
    justify-content: space-between;
  }
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}